/* IMPORT COMFORTAA FONT */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    background-color: rgb(232, 191, 152); /* Yellow Orange background */
}

/* HEADER */
.header {
    background-color: rgb(69, 81, 103); /* Blue */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo {
    height: 55px;
}

.profile-icon {
    font-size: 32px;
    color: white;
}

/* QUOTE BOXES */
.quote-box {
    background-color: white;
    border: 4px solid rgb(153, 93, 70); /* Brown border */
    padding: 25px;
    margin: 25px;
    border-radius: 12px;
    position: relative;
}

.quote-title {
    font-weight: 700;
    font-size: 22px;
    color: rgb(69, 81, 103); /* Blue text */
    margin-bottom: 15px;
    text-align: center;
}

.quote-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote-text {
    font-size: 42px;
    color: rgb(153, 93, 70); /* Brown text */
    margin: 0;
}

.quote-from {
    margin-left: 20px;
    font-size: 18px;
    color: rgb(153, 93, 70); /* Brown text */
}

/* STAR ICON */
.star {
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(232, 191, 152); /* Yellow Orange */
    font-size: 30px;
}

#signincontainer{
    margin: 50px auto;
    display:grid;
    border: 5px solid rgb(153,93,70);
    grid-template-columns: 50px 300px 50px;
    grid-template-rows: 100px 75px 50px 75px 50px 50px;
    background-color: rgb(232,191,152);
    color:rgb(69,81,103);
    width:400px;
    height:400px;
    font-family: "Comfortaa";
}

#signinlogo{
    width:100%;
    aspect-ratio:1;
}

#signinwelcome{
    grid-column: 2/4;
    margin:20px;
    font-size: 1.5em;
}

#unamelabel{
    grid-column: 2;
    margin: auto auto 15px 10px;
    font-size:1.5em;
}

#unameinput{
    grid-column: 2;
    height:40px;
    border-radius: 10px;
}

#pwrdlabel{
    grid-column: 2;
    margin: auto auto 15px 10px;
    font-size:1.5em;
}

#pwrdinput{
    grid-column: 2;
    height:40px;
    border-radius: 10px;
}

#loginbutton{
    grid-column: 2;
    height:50%;
    width:20%;
    margin: auto;
}
