.blue{
    color: rgb(69,81,103);
}

.yellow{
    color: rgb(232,191,152);
}

.brown{
    color: rgb(153,92,70);
}

#logo{
    height:100%;
    aspect-ratio:1;
    margin-right:auto;
}

header{
    background-color: #F6EBDF;
    color: rgb(153,92,70);
}

#profilepic{
    height: 75px;
    width: 75px;
}

#headbox{
    display:flex;
    padding:0;
    margin:0;
    width: 100%;
    aspect-ratio: 10/1;
    align-items:center;
    justify-content:center;
    
}

header{
    padding:0;
    margin:0;
}

html{
    font-family: Comfortaa, sans-serif;
}

body{
    margin:0px;
}

#profilebox{
    margin-left:auto;
    display:grid;
    height:100%;
    align-items:center;
    justify-items: center;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    aspect-ratio:1;
}

#profilepic{
    max-height:80%;
    height:auto;
    aspect-ratio: 1;
}

#psubtitle{
    font-size: 1em;
}

#title{
    margin: auto;
    flex-grow:1;
    text-align:center;
    font-size: 5em;
}

#starpng{
    height:50px;
    aspect-ratio:1;
}

#mainbox{
    border: 10px solid rgb(69,81,103);
    display:grid;
    margin: 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5fr;
}

#titlebox{
    grid-column: 1/3;
    margin: 25px auto;
    font-size: 4em;
}

#quotes{
    margin: 5px;
}

#subbox{
    margin:50px;
    border: 5px solid black;
    background-color: rgb(232,191,152);
    color: red;
    text-align:center;
    font-weight: bolder;
    font-size: 6em
}

.quote{
    font-size: 3em;
}

.quotetitle{
    font-size: 4em;
}