#signincontainer{
    margin: 0 auto;
    display:grid;
    border: 5px solid rgb(153,93,70);
    grid-template-columns: 50px 300px 50px;
    grid-template-rows: 100px 75px 50px 75px 50px 50px;
    background-color: rgb(232,191,152);
    color:rgb(69,81,103);
    width:400px;
    height:400px;
    font-family: "Comfortaa";
}

#signinlogo{
    width:100%;
    aspect-ratio:1;
}

#signinwelcome{
    grid-column: 2/4;
    margin:20px;
    font-size: 1.5em;
}

#unamelabel{
    grid-column: 2;
    margin: auto auto 15px 10px;
    font-size:1.5em;
}

#unameinput{
    grid-column: 2;
    height:40px;
    border-radius: 10px;
}

#pwrdlabel{
    grid-column: 2;
    margin: auto auto 15px 10px;
    font-size:1.5em;
}

#pwrdinput{
    grid-column: 2;
    height:40px;
    border-radius: 10px;
}

#loginbutton{
    grid-column: 2;
    height:50%;
    width:20%;
    margin: auto;
}