body {
    padding: 50px;
    margin: 0;
    background-color: #f3ecdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

main {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

#submit_button {
    grid-column: 1/3;
    justify-self: center;
    margin-top: 15px;
    padding: 8px 16px;
}